.head{;
    font-weight: 900;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
    padding: 20px;
}
.dp{
    border-radius:50%;
    width:200px;
    height:200px;
}
.b{
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-at {
    background:red;
  }
  .fa-linkedin {
    background: #007bb5;
  }
  .fa-github{
      background:#1B1B1B;
  }
  .fa-whatsapp{
      background:green;
  }
    a:link {
        text-decoration: none;
         color: #3282b8;;
    }

    a:visited {
        text-decoration: none;
        color: #3282b8;;
    }

    a:hover {
        text-decoration: underline;
         color: #3282b8;;
    }

    a:active {
        text-decoration: underline;
         color: #3282b8;;
    }
