html,body{
    background-color: #85dcb8;
}
.hilight:hover{
    background-color: #c38d9e;
    font-weight: bolder;
}
.nav-item{
    font-family: cursive;
}
.brand{
    font-weight: bold;
    font-family: 'sofia';
}
.fa {
    padding: 20px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: black;
  }
  .fa:hover {
      opacity: 0.5;
      text-decoration: none;
  }
.contact{
    display: table;
  margin: 0 auto;
}
.text{
    margin-left: 2%;
    margin-right:1%;
    font-family: sans-serif;
    font-weight: bolder;
}
.b1{
    color: black;
}
.b2{
    color: #3282b8;;
}
@media screen and (min-width: 1024px){
    .brand{
        font-size: x-large;
    }
    .hilight:hover{
        font-size: x-large;
    }
    .nav-item{
        font-size: x-large;
    }

    }
    
    /*###Tablet(medium)###*/
    @media screen and (min-width : 768px) and (max-width : 1023px){
        .brand{
            font-size: large;
        }
        .hilight:hover{
            font-size: large;
        }
        .nav-item{
            font-size: large;
        }
    }
