html,body{
    background-color: #85dcb8;
}
.navbar-brand{
    font-weight: bold;
    font-family:'sofia';
}
.nav-item{
    font-family: cursive;
}
.fa {
    padding: 20px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: black;
  }
  .fa:hover {
      opacity: 0.5;
      text-decoration: none;
  }
.contact{
    display: table;
  margin: 0 auto;
}
.text{
    margin-left: 2%;
    margin-right:1%;
    font-family: sans-serif;
}
.b1{
    color: black;
}
.b2{
    color: #3282b8;;
}
